h3{
  margin-left: 5px;
}
button {
    height: 40px;
    width: 40px;
    outline: none;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px  #5a5a5a;
    

    font-size: 11px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px black;
    color: white;
  }
  button:active{
    box-shadow: 1px 1px  #5a5a5a;
  }
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

.X100{
  background-color:#5bd3e1 ;
}
.X125{
  background-color:#4287f5 ;
}
.X150{
  background-color:#35bd4c ;
}
.X200{
  background-color:#f5c242 ;

}
.X250{
  background-color:#f57b42 ;

}
.X300{
  background-color:#eb4034 ;
}